{% extends "base.html"%}
{% load static %}

{% block title%}
	<title>ReadZara</title>
{% endblock %}

{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Thanks for visiting our blog</p>
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- team section -->
	<div class="mt-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3>Our <span class="orange-text">Team</span></h3>
						<p>
							We are here to share some of the valuable content from our valuable writer,
							who write their best content with lots of effort and research which help
							you to learn something new and useful
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-dpak"></div>
						<h6 class="mx-5 p-4">Deepak Verma</h6>
<!--						<ul class="social-link-team">-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>-->
<!--						</ul>-->
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-kartikey"></div>
						<h6 class="mx-5 p-4">Kartikey Khator</h6>
<!--						<ul class="social-link-team">-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>-->
<!--						</ul>-->
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-amit"></div>
						<h6 class="mx-5 p-4">Amit Tiwari</h6>
<!--						<ul class="social-link-team">-->
<!--							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>-->
<!--						</ul>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end team section -->

{% endblock %}