{% extends "base.html"%}
{% load static %}

{% block title%}
	<title>ReadZara</title>
{% endblock %}

{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Thanks for visiting our blog</p>
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- team section -->
	<div class="mt-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3>Our <span class="orange-text">Team</span></h3>
						<p>
							We are here to share some of the valuable content from our valuable writer,
							who write their best content with lots of effort and research which help
							you to learn something new and useful
						</p>
					</div>
				</div>
			</div>
<!--			<div class="row">-->
<!--&lt;!&ndash;				<div style="display:flex; justify-content:space-evenly; margin: 10px; flex-wrap: wrap;">&ndash;&gt;-->
<!--&lt;!&ndash;					<img style="border:1px solid black; width:200px; height:250px" src="">&ndash;&gt;-->
<!--&lt;!&ndash;				</div>&ndash;&gt;-->
<!--				<div class="col-lg-4 col-md-6">-->
<!--					<div class="single-team-item">-->
<!--						<div class="team-bg team-bg-1"></div>-->
<!--						<h4>Deepak Verma</h4>-->
<!--&lt;!&ndash;						<h4>Jimmy Doe <span>Farmer</span></h4>&ndash;&gt;-->
<!--&lt;!&ndash;						<ul class="social-link-team">&ndash;&gt;-->
<!--&lt;!&ndash;							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;						</ul>&ndash;&gt;-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
		</div>
	</div>
	<!-- end team section -->

{% endblock %}