{% extends "base.html"%}
{% load static %}

{% block title %}
   <title>Thank You</title>
{% endblock %}

{% block content %}

   <!-- breadcrumb-section -->
   <div class="breadcrumb-section breadcrumb-bg">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
               <div class="breadcrumb-text">
                  <p>Thank You</p>
                  <h4 style="color:#fff">Your Post has been submitted, It will be live once verified.</h4>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end breadcrumb section -->

{% endblock %}